In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
from matplotlib import style,rcParams
style.use('seaborn-white')
rcParams['figure.figsize'] = 10,5
import warnings
warnings.filterwarnings('ignore')

## Import Data

In [3]:
df = pd.read_csv('./csvfile/databocorv2_part2.csv')

In [4]:
df.head()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,bookmarkCount,pinned,editState,content,outlinks,outlinksss,tcooutlinks,tcooutlinksss,username,_snscrape
0,snscrape.modules.twitter.Tweet,https://twitter.com/M4vikalp/status/1669046706...,2023-06-14 18:18:38+00:00,Sudah tepat kalau kita #TolakRUUKesehatanOmnib...,Sudah tepat kalau kita #TolakRUUKesehatanOmnib...,1669046706283880448,"{'_type': 'snscrape.modules.twitter.User', 'us...",0.0,16,29.0,...,0.0,NaN,{'_type': 'snscrape.modules.twitter.EditState'...,Sudah tepat kalau kita #TolakRUUKesehatanOmnib...,[],NaN,[],NaN,M4vikalp,0.6.2.20230321.dev50+g0d824ab
1,snscrape.modules.twitter.Tweet,https://twitter.com/Catatan_ali7/status/166901...,2023-06-14 16:19:09+00:00,"Masalah stunting, jamban bersih, pengadaan ala...","Masalah stunting, jamban bersih, pengadaan ala...",1669016637465587712,"{'_type': 'snscrape.modules.twitter.User', 'us...",0.0,35,35.0,...,1.0,NaN,{'_type': 'snscrape.modules.twitter.EditState'...,"Masalah stunting, jamban bersih, pengadaan ala...",[],NaN,[],NaN,Catatan_ali7,0.6.2.20230321.dev50+g0d824ab
2,snscrape.modules.twitter.Tweet,https://twitter.com/M4vikalp/status/1668989989...,2023-06-14 14:33:16+00:00,@Catatan_ali7 @Ngabila Ayo dijawab @Ngabila ma...,@Catatan_ali7 @Ngabila Ayo dijawab @Ngabila ma...,1668989989282099201,"{'_type': 'snscrape.modules.twitter.User', 'us...",0.0,6,9.0,...,0.0,NaN,{'_type': 'snscrape.modules.twitter.EditState'...,@Catatan_ali7 @Ngabila Ayo dijawab @Ngabila ma...,[],NaN,[],NaN,M4vikalp,0.6.2.20230321.dev50+g0d824ab
3,snscrape.modules.twitter.Tweet,https://twitter.com/alisyanura/status/16689836...,2023-06-14 14:08:05+00:00,Punya bapak polos bgt sihðŸ˜­ udh panik kirain da...,Punya bapak polos bgt sihðŸ˜­ udh panik kirain da...,1668983653634908161,"{'_type': 'snscrape.modules.twitter.User', 'us...",0.0,0,0.0,...,0.0,NaN,{'_type': 'snscrape.modules.twitter.EditState'...,Punya bapak polos bgt sihðŸ˜­ udh panik kirain da...,[],NaN,[],NaN,alisyanura,0.6.2.20230321.dev50+g0d824ab
4,snscrape.modules.twitter.Tweet,https://twitter.com/akbrgn/status/166898215433...,2023-06-14 14:02:08+00:00,@rasndeso @hrdbacot Ini antara data bocor atau...,@rasndeso @hrdbacot Ini antara data bocor atau...,1668982154334699520,"{'_type': 'snscrape.modules.twitter.User', 'us...",1.0,0,1.0,...,0.0,NaN,{'_type': 'snscrape.modules.twitter.EditState'...,@rasndeso @hrdbacot Ini antara data bocor atau...,[],NaN,[],NaN,akbrgn,0.6.2.20230321.dev50+g0d824ab

In [5]:
df = df[['date', 'content']]

In [6]:
df.head()

,date,content
0,2023-06-14 18:18:38+00:00,Sudah tepat kalau kita #TolakRUUKesehatanOmnib...
1,2023-06-14 16:19:09+00:00,"Masalah stunting, jamban bersih, pengadaan ala..."
2,2023-06-14 14:33:16+00:00,@Catatan_ali7 @Ngabila Ayo dijawab @Ngabila ma...
3,2023-06-14 14:08:05+00:00,Punya bapak polos bgt sihðŸ˜­ udh panik kirain da...
4,2023-06-14 14:02:08+00:00,@rasndeso @hrdbacot Ini antara data bocor atau...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22746 entries, 0 to 22745
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     22741 non-null  object
 1   content  22739 non-null  object
dtypes: object(2)
memory usage: 355.5+ KB

## Data Preprocessing

### Drop Emoticon

In [8]:
# Iterate over the rows in the dataframe
emoticon_pattern = r'[\U0001F600-\U0001F64F\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U0001F1E0-\U0001F1FF\U00002600-\U000026FF\U00002700-\U000027BF\U0001F900-\U0001F9FF\U0001F600-\U0001F64F\U0001F680-\U0001F6FF\U00002600-\U000026FF\U00002700-\U000027BF\U0001F300-\U0001F5FF\U0001F900-\U0001F9FF\U0001F600-\U0001F64F\U0001F680-\U0001F6FF\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U00002600-\U000026FF\U00002700-\U000027BF\U0001F900-\U0001F9FF\U0001F600-\U0001F64F\U0001F680-\U0001F6FF\U00002600-\U000026FF\U00002700-\U000027BF\U0001F300-\U0001F5FF\U0001F900-\U0001F9FF\U0001F600-\U0001F64F\U0001F680-\U0001F6FF\U00002600-\U000026FF\U00002700-\U000027BF\U0001F300-\U0001F5FF\U0001F900-\U0001F9FF]+'

for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    output = re.sub(emoticon_pattern, '', value)
    
    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

### Drop tag

In [9]:
for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    # Define the mention pattern
    mention_pattern = r'@\w+'
    
    output = re.sub(mention_pattern, '', value)

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [10]:
df.content[0]

'Sudah tepat kalau kita #TolakRUUKesehatanOmnibuslaw \n\nMulai saat ini abaikan apapun yang dishare dari  soal MANIS NYA RUU KESEHATAN\n\nYang mereka sampaikan itu HALUSINASI &amp; Tidak bisa dipertanggung jawabkan\n\nTANYA SAJA JIKA DATA GENOM BOCOR APA MEREKA MAU TANGGUNG JAWAB ? https://t.co/5NU9QP0neQ'

### Drop Link

In [11]:
for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    # Define the mention pattern
    link_pattern = r'\s*https?://\S+$'
    
    output = re.sub(link_pattern, '', value)

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [12]:
df.content[0]

'Sudah tepat kalau kita #TolakRUUKesehatanOmnibuslaw \n\nMulai saat ini abaikan apapun yang dishare dari  soal MANIS NYA RUU KESEHATAN\n\nYang mereka sampaikan itu HALUSINASI &amp; Tidak bisa dipertanggung jawabkan\n\nTANYA SAJA JIKA DATA GENOM BOCOR APA MEREKA MAU TANGGUNG JAWAB ?'

### Drop escape characters and HTML entities

In [13]:

def remove_escape_sequences(text):
    # Remove escape sequences
    text = re.sub(r'\\\\', '', text)     # \\
    text = re.sub(r"\\'", "'", text)     # \'
    text = re.sub(r'\\"', '"', text)     # \"
    text = re.sub(r'\\n', '', text)      # \n
    text = re.sub(r'\n\n', '', text)
    text = re.sub(r'\\t', '', text)      # \t
    text = re.sub(r'\\b', '', text)      # \b
    text = re.sub(r'\\r', '', text)      # \r
    text = re.sub(r'\\f', '', text)      # \f
    text = re.sub(r'\\012', '', text)    # \012
    text = re.sub(r'\\x0A', '', text)    # \x0A
    
    return text

def remove_html_entities(text):
    # Remove HTML entities
    text = re.sub(r'&amp;', '', text)
    text = re.sub(r'&lt;', '', text)
    text = re.sub(r'&gt;', '', text)
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'&apos;', '', text)
    text = re.sub(r'&nbsp;', '', text)
    
    return text

for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    value = remove_escape_sequences(value)
    value = remove_html_entities(value)


    #print(output)
    # Change the value in place
    df.loc[i,"content"]= value

In [14]:
df.content[10000]

'Plate Respons DPR Soal Tanggung Jawab Bocor Data: Bukan Tugas Kominfo'

### Drop Hashtags

In [15]:
for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    # Define the mention pattern
    
    output = re.sub(r'#\w+', '', value)

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [16]:
df.content[0]

'Sudah tepat kalau kita  Mulai saat ini abaikan apapun yang dishare dari  soal MANIS NYA RUU KESEHATANYang mereka sampaikan itu HALUSINASI  Tidak bisa dipertanggung jawabkanTANYA SAJA JIKA DATA GENOM BOCOR APA MEREKA MAU TANGGUNG JAWAB ?'

### Drop Punctuation

In [17]:
import string

def remove_punctuation(sentence):
    # Create a translation table mapping punctuation characters to None
    translator = str.maketrans("", "", string.punctuation)
    
    # Remove punctuation using the translation table
    sentence_without_punctuation = sentence.translate(translator)
    
    return sentence_without_punctuation

for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    output =  remove_punctuation(value)

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [18]:
df.content[0]

'Sudah tepat kalau kita  Mulai saat ini abaikan apapun yang dishare dari  soal MANIS NYA RUU KESEHATANYang mereka sampaikan itu HALUSINASI  Tidak bisa dipertanggung jawabkanTANYA SAJA JIKA DATA GENOM BOCOR APA MEREKA MAU TANGGUNG JAWAB '

### Lowercasing

In [19]:
for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    output =  value.lower()

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [20]:
df.content[0]

'sudah tepat kalau kita  mulai saat ini abaikan apapun yang dishare dari  soal manis nya ruu kesehatanyang mereka sampaikan itu halusinasi  tidak bisa dipertanggung jawabkantanya saja jika data genom bocor apa mereka mau tanggung jawab '

### Stemming

In [21]:
# import StemmerFactory class
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [22]:
# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [23]:
df['content'] = df['content'].astype(str).apply(lambda x: stemmer.stem(x))

### Tokenization

In [17]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HUAWEI\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
from nltk.tokenize import word_tokenize

In [26]:
for i in range(0,len(df['content'])):
    # Perform the desired manipulation
    
    value = str(df['content'][i])
    
    output =  word_tokenize(value)

    #print(output)
    # Change the value in place
    df.loc[i,"content"]= output

In [33]:
df.content[100]

['nder',
 'aku',
 'juga',
 'begitu',
 'tapi',
 'lebih',
 'baik',
 'jangan',
 'foto',
 'karena',
 'kita',
 'enggak',
 'tau',
 'bagaimana',
 'data',
 'kita',
 'bisa',
 'bocor',
 'nanti',
 'saran',
 'sih',
 'enggak',
 'papa',
 'banyak',
 'mengaca',
 'terus',
 'muji',
 'hasil',
 'diet',
 'tapi',
 'lebih',
 'baik',
 'jangan',
 'simpan',
 'ke',
 'dalam',
 'bentuk',
 'foto',
 'nder']

### Slang word to Standard word

In [28]:
slang_word = pd.read_csv('./csvfile/colloquial-indonesian-lexicon.csv')

In [29]:
slang_word.head()

,slang,formal,In-dictionary,context,category1,category2,category3
0,woww,wow,1,wow,elongasi,0,0
1,aminn,amin,1,Selamat ulang tahun kakak tulus semoga panjang...,elongasi,0,0
2,met,selamat,1,Met hari netaas kak!? Wish you all the best @t...,abreviasi,0,0
3,netaas,menetas,1,Met hari netaas kak!? Wish you all the best @t...,afiksasi,elongasi,0
4,keberpa,keberapa,0,Birthday yg keberpa kak?,abreviasi,0,0

In [30]:
# Calculate lengths outside the loop
content_length = len(df['content'])

# Create lookup dictionary for slang words
slang_lookup = dict(zip(slang_word['slang'], slang_word['formal']))

# Iterate over each content in the DataFrame
for i in range(content_length):
    series = df.loc[i, 'content']
    
    # Iterate over each word in the series
    for j, word in enumerate(series):
        if word in slang_lookup:
            series[j] = slang_lookup[word]
    
    # Update the DataFrame with the modified series
    df.loc[i, "content"] = series

In [31]:
df.content[100]

['nder',
 'aku',
 'juga',
 'begitu',
 'tapi',
 'lebih',
 'baik',
 'jangan',
 'foto',
 'karena',
 'kita',
 'enggak',
 'tau',
 'bagaimana',
 'data',
 'kita',
 'bisa',
 'bocor',
 'nanti',
 'saran',
 'sih',
 'enggak',
 'papa',
 'banyak',
 'mengaca',
 'terus',
 'muji',
 'hasil',
 'diet',
 'tapi',
 'lebih',
 'baik',
 'jangan',
 'simpan',
 'ke',
 'dalam',
 'bentuk',
 'foto',
 'nder']

In [35]:
df.to_csv(r'./csvfile/Scraping_preprocessing_v1.csv', index = False)

### stopword

In [18]:
import pandas as pd
import ast
df = pd.read_csv('./csvfile/Scraping_preprocessing_v2.csv')
df['content']= [ast.literal_eval(item) for item in df['content']]

In [19]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HUAWEI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('indonesian'))
content_length = len(df['content'])

new_content = []
for i in range(content_length):
    word_list = df.loc[i, 'content']
    filtered_words = [word for word in word_list if word not in stop_words]
    new_content.append(filtered_words)

df['content'] = new_content